<div class="container">
  <h1>Movie Finder - Sean Dowdall, s00210945</h1>
  <form>
    <div class="form-group">
      <input type="text" name="movie-name" class="form-control" #moviename placeholder="Enter Movie name">
    </div>
    <button (click)="getMovieDetails(moviename.value)" type="submit" class="btn btn-primary">Get Movie Details</button>
  </form>

  <div class="row bg-light mt-4 p-4" *ngIf="movieData">
    <div class="col-sm-4">
      <div>
        <h3>{{movieData.Error}} </h3>
      </div>
      <div *ngIf="movieData.Title">
        <img src="{{movieData.Poster}}">
      </div>
    </div>

    <div class="col-sm-8">
      <div *ngIf="movieData.Title">
        <h1>{{movieData.Title}} </h1>
        <h2>Directed by : {{movieData.Director}} </h2>
      </div>
    </div>


  </div>
</div>